h1{
    margin: 0;
    margin-bottom: 15px;
    padding: 20px;
    font-size: 40px;
    text-align: center;
    background-color: black;
    color: white;
}
h3{
    text-align: center;
}
.input{
margin: 20px;
    text-align: center;
}
#input1{
    height: 20px;
    width: 200px;
    border-radius: 3px;
}
#newGame{
    height: 26px;
    background-color: rgb(70, 144, 241);
    border-radius: 3px;
}
.scorebaord{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    text-align: center;
    font-size: 25px;
    border-radius: 3px;
    width: 30%;
}
p1{
    text-decoration: underline;
    font-size: 35px;
}
h2{
    text-align: center;
    margin: 5px;
    font-size: 50px;
    font-weight: bolder;
}
table{
    margin: 10px;
    border: 1px solid black;
}
td{
    border: 1px solid blue;
    height: 50px;
    width: 50px;
    text-align: center;
}
.hiddenBox {
    background-color: black;
}

.winner{
color: green;
}
.loser{
color: red;
}
.container{
display: flex;
justify-content: space-around;
}